body,
html {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
}
.hero-image {
  background-image: url("../img/logo.png"), linear-gradient(#f00000, white);
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: auto;
  background-color: #f00000;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
h1,
h2 {
  margin: 16px;
}
p {
  margin: 1em;
}
figure {
  padding: 0.5em;
  margin: 0 0.5em 0 1em;
  float: left;
  width: 35%;
  border: 2px solid #ccc;
}
figcaption {
  text-align: center;
}
img {
  width: 100%;
}
hr {
  margin: 1em;
}
footer {
  background-color: #f00000;
}
footer p {
  color: white;
  text-align: center;
}
.news {
  margin: 0 0.5em 0 0.5em;
}
.news img {
  width: 200px;
  height: 110px;
  float: left;
  margin: 0 0.5em 0 0.5em;
}
.news h2 {
  margin: 0em 0.7em;
}

.news hr {
  margin: 2em 0.5em 1em 0.5em;
}

.gallery {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 0.5em;
  text-align: center;
}

article h1 {
  padding: 0;
}
