body,
html {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
}
.hero-image {
  background-image: url("../img/logo.png"), linear-gradient(#f00000, white);
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: auto;
  background-color: #f00000;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
h1,
h2 {
  margin: 16px;
}
p {
  margin: 1em;
}
#mainFigure {
  padding: 0.5em;
  margin: 0 0.5em 0 1em;
  float: left;
  width: 35%;
  border: 2px solid #ccc;
}
figcaption {
  text-align: center;
}
img {
  width: 100%;
}
hr {
  margin: 1em;
}
footer {
  background-color: #f00000;
}
footer p {
  color: white;
  text-align: center;
}
.news {
  margin: 0 0.5em 0 0.5em;
}
.news img {
  width: 200px;
  height: 115px;
  float: left;
  margin: 0 0.5em 0 0.5em;
}
.news h2 {
  margin: 0em 0.7em;
}

.news hr {
  margin: 2em 0.5em 1em 0.5em;
}

#galleryFigure
{
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
}

#galleryFigure:hover
{
  border: 1px solid #777;
}

#galleryFigure img
{
  width: 100%;
  height: auto;
}

article h1 {
  padding: 0;
}

#map {
  height: 400px;
  width: auto;
  margin: 1em;
}

.form
{
  margin: 1em;
  position: relative;
  max-width:500px;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 1em 1em;
  margin: 1em 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  max-width: 500px;
  background-color: #f00000;
  color: white;
  padding: 1em 1em;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f97272;
}

video
{
  margin: 0 0.5em 0 1em;
  float: left;
  width: 320px;
  height: auto;
}