body,
html {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body * {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 16px;
}
p {
  margin: 1em;
}

img {
  width: 100%;
}

/*Header*/

header {
  width: 100%;
}
.hero-image {
  background-image: url("../img/logo.png"), linear-gradient(#f00000, white);
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  overflow: auto;
  background-color: #f00000;
  position: relative;
}
nav li {
  float: left;
}

nav li:hover {
  background-color: #db0007;
}
nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}


/*Footer*/

footer {
  background-color: #f00000;
}
footer p {
  color: white;
  text-align: center;
}

/*Home*/

#mainFigure {
  padding: 0.5em;
  margin: 0 0.5em 0 0.5em;
  float: left;
  width: 35%;
}
figcaption {
  background-color: #f00000;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/*Gallery*/

.gallery {
  display: inline-block;
  transition: all 0.8s;

}

.gallery:hover {
  transform: scale(1.05);
}

#galleryFigure {
  margin: 2em;
  display: inline-block;
  width: 300px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

#galleryFigure img {
  width: 100%;
  height: 200px;
}

/*Contact/Register/Login*/

.form {
  margin: 1em;
  position: relative;
  max-width: 500px;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 1em 1em;
  margin: 1em 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  max-width: 500px;
  background-color: #f00000;
  color: white;
  padding: 1em 1em;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #db0007;
}

.select {
  width: 100%;
  max-width: 500px;
  padding: 1em 1em;
  margin: 1em 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.countries {
  width: 100%;
  border: 0px;
  outline: none;
}

iframe {
  border: none;
  height: 50vh;
  width: 100%;
}

/*About*/

.about{
  margin: auto;
}
video {
  margin: 0 0.5em 0 1em;
  float: left;
  width: 320;
  height: auto;
}


/*News*/

small {
  font-size: 14px;
}

.pull {
  float: right;
  text-decoration: none;
  background: #f00000;
  padding: 0.5em;
  color: white;
}


/*Card Styling*/

.card {
  border: none;
  background-color: white;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  transition: all 0.8s;
}

.card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}


.card__date {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
}

/*Card Flex*/

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  flex-grow: 1;
}

/*Table*/

.tableName{
  text-align: center;
}
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f00000;
  color: white;
}